<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <!--<add name="WiodySMContext" connectionString="data source=.\sqlexpress;initial catalog=WiodySM;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />-->
    <!--<add name="WiodySMContext" connectionString="data source=78.188.167.94;initial catalog=test332;persist security info=True;user id=WorkPlus;password=WorkPlus2017.,;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />-->
    <add name="WiodySMContext" connectionString="Data Source = 185.248.57.239; User ID = wiody; Password = xrwatxN3MM4uEZyV; Initial Catalog = WiodySM_OskarHolding; MultipleActiveResultSets = True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>